body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #45a049;
}

h1 {
    font-size: 70px;
    margin-bottom: 5px;
}

h2 {
    font-size: 50px;
    margin-bottom: 20px;
}

#decrease, #reset, #increase {
    margin: 15px;
    padding: 20px 25px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #000000;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}