
.square {
    padding: 30px 50px;
    margin-top: 20vh;
    margin-left: 45vw;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    background-color: #27abc5;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button {
    padding: 25px 40px;
    margin-top: 20vh;
    margin-left: 45vw;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    background-color: #27abc5;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}